* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  color: #002d40;
}

body {
  max-width: 1920px;
  min-width: 380px;
  margin: auto;
}

ul {
  list-style: none;
}

a, p, h4 {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

i {
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Raleway", "Arial", sans-serif;
}

.btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border: 1px outset #002d40;
  border-radius: 50%;
  box-shadow: 3px 3px 5px #002d40;
  cursor: pointer;
  transition: all 400ms;
}
.btn-arrow:hover {
  transform: scale(0.9);
  box-shadow: none;
}

/********/
/*header*/
/********/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 20px;
  color: #d9ecf2;
  background: linear-gradient(to top left, #1aa6b7, #002d40);
}
.header p, .header a {
  color: #d9ecf2;
}
.header .toggle {
  display: none;
}
.header__logo {
  display: flex;
}
.header__logo__image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.header__logo__image img {
  width: 100%;
}
.header__logo__title h1 {
  color: #d9ecf2;
}
.header__nav {
  height: 100%;
}
.header__nav__list {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__nav__list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 8px;
  margin: 0 10px;
}
.header__nav__list__item a {
  position: relative;
  padding: 0 10px;
}
.header__nav__list__item a:after {
  content: "";
  position: absolute;
  background-color: #E04F5F;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}
.header__nav__list__item a:hover {
  color: #d1d1d1;
}
.header__nav__list__item a:hover:after {
  width: 100%;
}

/******/
/*main*/
/******/
.main {
  background: url("../assets/site-bg.jpg") fixed no-repeat center;
  background-size: cover;
  padding: 150px 200px;
}

.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto 0 auto;
  padding: 90px 20px 20px 20px;
  border: 1px solid #002d40;
  background: linear-gradient(to top left, rgba(26, 166, 183, 0.6666666667), rgba(217, 236, 242, 0.6666666667));
}
.welcome__image {
  position: absolute;
  top: -77px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border: 2px solid #002d40;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #002d40;
}
.welcome__image img {
  width: 110%;
}
.welcome__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #d9ecf2;
}
.welcome__text h2 {
  margin-bottom: 10px;
  color: #d9ecf2;
}
.welcome__text p {
  color: #d9ecf2;
}
.welcome__text a {
  color: #002d40;
}
.welcome__text a:hover {
  text-decoration: underline 2px;
}

.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 200px auto 0 auto;
  padding: 100px 100px 40px;
  border: 1px solid #002d40;
  background: linear-gradient(to top left, rgba(26, 166, 183, 0.6666666667), rgba(217, 236, 242, 0.6666666667));
}
.projects__title {
  position: absolute;
  top: -61px;
  left: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 5px;
  background: linear-gradient(to top left, #1aa6b7, #002d40);
  border-radius: 61px;
  box-shadow: 3px 3px 10px #002d40;
}
.projects__title h3 {
  font-size: 18px;
  font-weight: 200px;
  text-align: center;
  color: #d9ecf2;
}
.projects__viewer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  height: 500px;
}
.projects__viewer__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #002d40;
  background-color: rgba(255, 255, 255, 0.6666666667);
}
.projects__viewer__img img {
  width: 100%;
  display: none;
}
.projects__viewer__img .active {
  display: block;
  align-self: flex-start;
}
.projects__viewer__dots {
  position: absolute;
  bottom: -30px;
  display: flex;
}
.projects__viewer__dots .dot {
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border: 1px solid #002d40;
  border-radius: 50%;
  background-color: #d9ecf2;
}
.projects__viewer__dots .dot:hover {
  cursor: pointer;
}
.projects__viewer__dots .dot:nth-child(1) {
  background-color: #E04F5F;
}
.projects__viewer .btn-arrow {
  position: absolute;
}
.projects__viewer .btn-left {
  left: -26px;
}
.projects__viewer .btn-right {
  right: -26px;
}
.projects__link {
  align-self: flex-end;
}
.projects__link a {
  text-decoration: transparent;
  color: #d9ecf2;
  transition: all 300ms linear;
}
.projects__link a:hover {
  color: #d1d1d1;
  text-decoration: 2px underline white;
}

.career {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 200px auto 0 auto;
  padding: 100px 100px 40px;
  border: 1px solid #002d40;
  background: linear-gradient(to top left, rgba(26, 166, 183, 0.6666666667), rgba(217, 236, 242, 0.6666666667));
}
.career__title {
  position: absolute;
  top: -61px;
  left: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  padding: 5px;
  background: linear-gradient(to top left, #1aa6b7, #002d40);
  border-radius: 61px;
  box-shadow: 3px 3px 10px #002d40;
}
.career__title h3 {
  font-size: 18px;
  font-weight: 200px;
  text-align: center;
  color: #d9ecf2;
}
.career__timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  margin-bottom: 40px;
  background: rgba(217, 236, 242, 0.6666666667);
  border: 1px solid #002d40;
}
.career__timeline__v-line {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  right: 50%;
  height: 100%;
  border-left: 2px solid #E04F5F;
}
.career__timeline__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.career__timeline__item .cti__infos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
  max-width: 350px;
  padding: 5px;
  margin-right: 60px;
  border: 2px solid #E04F5F;
  border-radius: 10px;
  background-color: #d9ecf2;
}
.career__timeline__item .cti__infos h4, .career__timeline__item .cti__infos p {
  width: 100%;
}
.career__timeline__item .cti__infos .icon-right {
  position: absolute;
  right: -16px;
  font-size: 30px;
  color: #E04F5F;
}
.career__timeline__item .cti__infos--reverse {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  max-width: 350px;
  padding: 5px;
  margin-left: 60px;
  border: 2px solid #E04F5F;
  border-radius: 10px;
  background-color: #d9ecf2;
}
.career__timeline__item .cti__infos--reverse h4, .career__timeline__item .cti__infos--reverse p {
  width: 100%;
}
.career__timeline__item .cti__infos--reverse .icon-left {
  position: absolute;
  left: -16px;
  font-size: 30px;
  color: #E04F5F;
}
.career__timeline__item .cti__icon {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 40px;
  border: 2px solid #002d40;
  border-radius: 50%;
  background: #d9ecf2;
  font-size: 30px;
  box-shadow: 3px 3px 5px #002d40;
}
.career__timeline__item .cti__date {
  width: 40%;
  margin-left: 60px;
}
.career__timeline__item .cti__date--reverse {
  width: 40%;
  margin-right: 60px;
  text-align: end;
}
.career__link {
  align-self: flex-end;
}
.career__link a {
  text-decoration: transparent;
  color: #d9ecf2;
  transition: all 300ms linear;
}
.career__link a:hover {
  color: #d1d1d1;
  text-decoration: 2px underline white;
}

/********/
/*footer*/
/********/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 380px;
  padding: 20px;
  background: linear-gradient(to top left, #002d40, #1aa6b7);
}
.footer__links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer__links__item {
  font-size: 35px;
  margin: 0 30px;
  transition: all 300ms ease-in;
}
.footer__links__item:hover {
  transform: scale(1.1);
  text-shadow: 3px 3px 5px #002d40;
}
.footer__links__item:hover i {
  color: #d9ecf2;
}
.footer__copyright {
  color: #d9ecf2;
}

/***************/
/*media queries*/
/***************/
@media screen and (max-width: 768px) {
  a, p, h4 {
    font-size: 14px;
  }

  .btn-arrow {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .main {
    padding: 150px 0;
  }

  .header__nav {
    display: none;
  }
  .header__logo__image {
    width: 40px;
    height: 40px;
  }
  .header__logo__title h1 {
    font-size: 20px;
  }

  .welcome {
    padding-top: 60px;
  }
  .welcome__image {
    top: -52px;
    width: 100px;
    height: 100px;
  }
  .welcome__text h2 {
    font-size: 18px;
  }

  .projects {
    padding: 70px 10px 20px 10px;
  }
  .projects__title {
    top: -46px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
  }
  .projects__title h3 {
    font-size: 14px;
  }
  .projects__viewer {
    height: 250px;
  }
  .projects__viewer .btn-left {
    left: 0;
    bottom: -40px;
  }
  .projects__viewer .btn-right {
    right: 0;
    bottom: -40px;
  }
  .projects__link {
    margin-top: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .main {
    padding: 150px 0;
  }

  .welcome {
    width: 80%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .projects__viewer {
    height: 400px;
  }
  .projects__viewer__img {
    height: 100%;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .projects__viewer {
    height: 500px;
  }
  .projects__viewer__img {
    height: 100%;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1680px) {
  .projects__viewer {
    height: 600px;
  }
  .projects__viewer__img {
    height: 100%;
  }
}
@media screen and (min-width: 1681px) {
  .projects__viewer {
    height: 700px;
  }
  .projects__viewer__img {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
